body {
    margin: 0;
    background-color: #111111;
}

h1 {
    text-align: center;
}

header {
    background-color: #738adb;
    width: 100%;
    position: fixed;
    top: 0;
}

header img {
    float: left;
    height: 45px;
    width: 77px;
    padding: 7px 10px;
}
header img:hover{background-color: #9aaae5;}

.link {
    float: right;
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 19px 5px;
    font-size: medium;
}
.link:hover {background-color: #9aaae5;}

.discord_button {
    background-color: #738adb;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: medium;
    border-radius: 8px;
    cursor: pointer;
}
.discord_button:hover {background-color: #9aaae5;}

.yt_switch {
    padding-top: 20px;
    display: block;
    text-align: center;
}
.yt_switch_el {
    display: inline;
    text-decoration: underline;
    padding: 15px;
    border-radius: 4px;
    border: none;
    background-color: none;
    color: white;
    font-size: 30px;
    font-style: bold;
}
.yt_switch_el:hover {
    background-color: lightseagreen;
}


.bios {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items:center;
}

.bios p {
    font-size: small;
    padding: 5px 30px;
    text-align: center;
}

.bio{
    display: flex;
    max-width: 800px;
    flex-flow: row wrap;
    align-items: center;
}
.bio img {
    border-radius:50%;
    height: 150px;
    width:150px;
    padding: 10px;
}
.bio a{text-decoration: none;color:white;}
.bio h2{
    padding-top:20px;
    padding-left: 20%;
}
.bio h2:hover {
    text-decoration:underline;
}
.bio p{
    font-size:small;
    text-align:center;
    margin-top: -10px;
    padding: 10px;
}

.column {
    margin-top:-20px;
    flex:25%;
}

.upload{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 10px;
    border-bottom: 1px #ccc groove;
    height: 200px;
    width: 170px;
}
.video_link{
    text-decoration: none;
    color:white;
}
.video_link:hover{text-decoration: underline;}
.channel_link {
    font-size: small;
    color: grey;
}
.channel_link:hover{color:white;}

.ecelite4 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items:center;
}

.elite4members {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items:center;
}
.elite4members .member{padding: 5px; text-align: center}
.champs .profile{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items:center;
}
.team {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items:center;
}
.team .mon{padding: 5px 10px;text-align: center}

.podcast_upload{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 10px;
    border-bottom: 1px #ccc groove;
    
}
.pu_column{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.p_nomargin{margin: 0}

@media(max-width: 500px){
    .pu_column{
        max-width: 600px
    }
}

@media (max-width: 380px) {
    .upload {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        padding: 10px;
        border-bottom: 1px #ccc groove;
        height: 110px;
        width: 100%;
    }
    .upload img {
        float:left;
    }
    .u_column {
        margin-left: 10px;
        flex: 25%;
        align-self: flex-start;
    }
    .pu_column{
        max-width: 80vw
    }
    audio{
        margin-left: -18px
    }
}